<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .game-board {
        width : 600px
    }
    .board-cell {
        display: inline-block;
        border-color : black;
        background : white;
        width : 60px;
        height: 60px
    }
    .invisible {
        color : white
    }
</style>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>

<div id="userFleetBoard" class="game-board"></div>

<div id="computerFleetBoard" class="game-board"></div>

<script src="built/bundle.js"></script>

</body>
</html>