<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .game-board {
        width : 500px;
        margin-top: 50px;
        margin-left: 90px;
        float : left
    }
    .board-cell {
        display: inline-block;
        border-color : black;
        background : white;
        width : 50px;
        height: 50px
    }
    .new-game-button {
        margin-top: 20px;
        margin-left: 90px;
        float : left
    }
    .invisible {
        color : white
    }
</style>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
</head>
<body>

<div id="Boards"></div>

<div id="newGame" class="new-game-button"></div>

<script src="built/bundle.js"></script>

</body>
</html>